-content_for :title do
  E-learning
  \|
  Activity

%h3.text-center 
  Activities
  .badge.bg-info
    = @activities.count

%ul.list-group
  - @activities.each do |activity|
    %li.list-group-item
      = activity.id
      = activity.trackable_type
      = activity.trackable_id
      - lesson = Lesson.find_by(id: activity.trackable_id) if activity.trackable_type == 'Lesson'
      = link_to activity.trackable, lesson ? course_lesson_path(lesson.course, lesson): activity.trackable
      = activity.key
      = activity.parameters
      = activity.owner