-content_for :title do
  E-learning
  \|
  Online platform to learn

.p-5.mb-4.bg-body-tertiary.rounded-3
  .container-fluid.py-5
    .display-5.fw-bold
      What do you want to learn today?
    
    .p-4
    - if current_user
      .form-inline.align-self-center
        = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
          .input-group.input-group-sm
            = f.search_field :title_cont, class: "form-control-sm", placeholder: "Find a course", :autocomplete => :off
            %button.btn.btn-primary{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}
    

    -# This was before ransack gem
    -# .form-inline.align-self-center
    -#   = form_tag(courses_path, method: :get) do 
    -#     .input-group.input-group-sm
    -#       = text_field_tag :title, params[:title], autocomplete: "off", placeholder: "Search", class: "form-control"
    -#       %button.btn.btn-primary{:type => "submit"}
    -#         %span.fa.fa-search{"aria-hidden" => "true"}

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

%hr
%h2
  .fa.fa-user-graduate
  Continue Learning
.row.row-cols-lg-4
  - @purchased_courses.each do |course|
    .col
      = render 'courses/course', course: course
%hr
%h2
  .fa.fa-chart-line
  Popular Courses
.row.row-cols-lg-4
  - @popular_courses.each do |course|
    .col
      = render 'courses/course', course: course
%hr
%h2
  .fa.fa-star
  Top Rated Courses
.row.row-cols-lg-4
  - @top_rated_courses.each do |course|
    .col
      = render 'courses/course', course: course
%hr
%h2
  .fa.fa-clock
  Latest Courses
.row.row-cols-lg-4
  - @latest_courses.each do |course|
    .col
      = render 'courses/course', course: course
%hr
%h2
  .fa.fa-comment
  What our students have to say
.row.row-cols-lg-4
  - @latest_good_reviews.each do |enrollment|
    .col
      = render 'enrollments/enrollment', enrollment: enrollment